<div class="row my-sm-5">
    <div class="col-lg-4 single-right-left">
        <div class="grid images_3_of_2">
            <div class="flexslider1">

                <div class="clearfix"></div>
                <div class="flex-viewport" style="overflow: hidden; position: relative;">
                    <ul class="slides" style="width: 1000%; transition-duration: 0s; transform: translate3d(-350px, 0px, 0px);">

  
                        <li data-thumb="~/Image/download.jpg" style="width: 350px; float: left; display: block;">
                            <div class="thumb-image">
                                <img src="~/Image/download.jpg" data-imagezoom="true" alt=" " class="img-fluid" />
                            </div>
                        </li>
             
                        <li data-thumb="~/Image/download.jpg" class="clone" style="width: 350px; float: left; display: block;">
                            <div class="thumb-image">
                                <img src="~/Image/download.jpg" data-imagezoom="true" alt=" " class="img-fluid" />
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 mt-lg-0 mt-5 single-right-left simpleCart_shelfItem">
        <h3>vegetable vegetable vegetable vegetable vegetable</h3>

        <div class="caption">

         
            <div class="clearfix"> </div>
            <h6>
                $##.##
            </h6>
        </div>
        <div class="desc_single">
            <h5>Description</h5>
            <p>
                Pellentesque quis orci sapien. Phasellus at pfero in nunc egestas tincidunt. In dictum arcu purus,
                ultricies tincidunt urna vehicula at. Aenean iaculis urna nec pfero scelerisque, ac ullamcorper
                neque porta.
            </p>
        </div>
        <div class="d-sm-flex justify-content-between">
            <div class="occasional">
                <h5 class="sp_title mb-3">Highlights</h5>
                <ul class="single_specific">
                    <li>
                        <span>Fresh: </span> #####
                    </li>
                    <li>
                        <span>Pattern :</span> #####
                    </li>
                    <li>
                        <span>Type :</span> #####
                    </li>
                 
                </ul>

            </div>

        </div>
        <div class="description">
            <h5>Check delivery, payment options and charges at your location</h5>
            <form action="#" method="post">
                <input type="text" placeholder="Enter pincode" required="">
                <input type="submit" value="Check">
            </form>
        </div>

                        <i class="fa fa-cart-plus" aria-hidden="true" al></i>
              
                    <a href="#" data-toggle="modal" data-target="#myModal1"></a>
            </div>
        </div>
