
@{
    ViewBag.Title = "Product";
}
<head>
    <link href="~/Content/all.css" rel="stylesheet" />
</head>
<h2>Product</h2>

<div class="card-group">
    <!-- card -->
    <div class="col-lg-3 col-sm-6 p-0">
        <div class="card product-men p-3">
            <div class="men-thumb-item">
                <img src="~/Image/download.jpg" />
                <div class="men-cart-pro">
                    <div class="inner-men-cart-pro">
                        <a href="~/Home/Product" >Quick View</a>
                    </div>
                </div>
            </div>
            <!-- card body -->
            <div class="card-body  py-3 px-2">
                <h5 class="card-title text-capitalize">#####</h5>
                <div class="card-text d-flex justify-content-between">
                    <p class="text-dark font-weight-bold">$####</p>
                    <p class="line-through">$####</p>
                </div>
            </div>
            <!-- card footer -->
            <div class="card-footer d-flex justify-content-end">
       
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                    <a href="#" data-toggle="modal" data-target="#myModal1"></a>
            </div>
        </div>
    </div>
    <!-- //card -->
    <!-- card -->
    <div class="col-lg-3 col-sm-6 p-0">
        <div class="card product-men p-3">
            <div class="men-thumb-item">
                <img src="~/Image/download.jpg" />
                <div class="men-cart-pro">
                    <div class="inner-men-cart-pro">
                        <a href="~/Home/Product">Quick View</a>
                    </div>
                </div>
            </div>
            <!-- card body -->
            <div class="card-body  py-3 px-2">
                <h5 class="card-title text-capitalize">#####</h5>
                <div class="card-text d-flex justify-content-between">
                    <p class="text-dark font-weight-bold">$####</p>
                    <p class="line-through">$####</p>
                </div>
            </div>
            <!-- card footer -->
            <div class="card-footer d-flex justify-content-end">

                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                <a href="#" data-toggle="modal" data-target="#myModal1"></a>
            </div>
        </div>
    </div>
    <!-- //card -->
    <div class="col-lg-3 col-sm-6 p-0">
        <div class="card product-men p-3">
            <div class="men-thumb-item">
                <img src="~/Image/download.jpg" />
                <div class="men-cart-pro">
                    <div class="inner-men-cart-pro">
                        <a href="~/Home/Product">Quick View</a>
                    </div>
                </div>
            </div>
            <!-- card body -->
            <div class="card-body  py-3 px-2">
                <h5 class="card-title text-capitalize">#####</h5>
                <div class="card-text d-flex justify-content-between">
                    <p class="text-dark font-weight-bold">$####</p>
                    <p class="line-through">$####</p>
                </div>
            </div>
            <!-- card footer -->
            <div class="card-footer d-flex justify-content-end">

                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                <a href="#" data-toggle="modal" data-target="#myModal1"></a>
            </div>
        </div>
    </div>
    <!-- //card -->
    <!-- card -->
    <div class="col-lg-3 col-sm-6 p-0">
        <div class="card product-men p-3">
            <div class="men-thumb-item">
                <img src="~/Image/download.jpg" />
                <div class="men-cart-pro">
                    <div class="inner-men-cart-pro">
                        <a href="~/Home/Product">Quick View</a>
                    </div>
                </div>
            </div>
            <!-- card body -->
            <div class="card-body  py-3 px-2">
                <h5 class="card-title text-capitalize">#####</h5>
                <div class="card-text d-flex justify-content-between">
                    <p class="text-dark font-weight-bold">$####</p>
                    <p class="line-through">$####</p>
                </div>
            </div>
            <!-- card footer -->
            <div class="card-footer d-flex justify-content-end">

                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                <a href="#" data-toggle="modal" data-target="#myModal1"></a>
            </div>
        </div>
    </div>
    <!-- //card group 1-->
    <!-- card group 2 -->
    <div class="col-lg-3 col-sm-6 p-0">
        <div class="card product-men p-3">
            <div class="men-thumb-item">
                <img src="~/Image/download.jpg" />
                <div class="men-cart-pro">
                    <div class="inner-men-cart-pro">
                        <a href="~/Home/Product">Quick View</a>
                    </div>
                </div>
            </div>
            <!-- card body -->
            <div class="card-body  py-3 px-2">
                <h5 class="card-title text-capitalize">#####</h5>
                <div class="card-text d-flex justify-content-between">
                    <p class="text-dark font-weight-bold">$####</p>
                    <p class="line-through">$####</p>
                </div>
            </div>
            <!-- card footer -->
            <div class="card-footer d-flex justify-content-end">

                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                <a href="#" data-toggle="modal" data-target="#myModal1"></a>
            </div>
        </div>
    </div>
    <!-- //card group -->
    <!-- card group  -->
    <div class="col-lg-3 col-sm-6 p-0">
        <div class="card product-men p-3">
            <div class="men-thumb-item">
                <img src="~/Image/download.jpg" />
                <div class="men-cart-pro">
                    <div class="inner-men-cart-pro">
                        <a href="~/Home/Product">Quick View</a>
                    </div>
                </div>
            </div>
            <!-- card body -->
            <div class="card-body  py-3 px-2">
                <h5 class="card-title text-capitalize">#####</h5>
                <div class="card-text d-flex justify-content-between">
                    <p class="text-dark font-weight-bold">$####</p>
                    <p class="line-through">$####</p>
                </div>
            </div>
            <!-- card footer -->
            <div class="card-footer d-flex justify-content-end">

                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                <a href="#" data-toggle="modal" data-target="#myModal1"></a>
            </div>
        </div>
    </div>
    <!-- //card group -->
    <!-- card group  -->
    <div class="col-lg-3 col-sm-6 p-0">
        <div class="card product-men p-3">
            <div class="men-thumb-item">
                <img src="~/Image/download.jpg" />
                <div class="men-cart-pro">
                    <div class="inner-men-cart-pro">
                        <a href="~/Home/Product">Quick View</a>
                    </div>
                </div>
            </div>
            <!-- card body -->
            <div class="card-body  py-3 px-2">
                <h5 class="card-title text-capitalize">#####</h5>
                <div class="card-text d-flex justify-content-between">
                    <p class="text-dark font-weight-bold">$####</p>
                    <p class="line-through">$####</p>
                </div>
            </div>
            <!-- card footer -->
            <div class="card-footer d-flex justify-content-end">

                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                <a href="#" data-toggle="modal" data-target="#myModal1"></a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 p-0">
        <div class="card product-men p-3">
            <div class="men-thumb-item">
                <img src="~/Image/download.jpg" />
                <div class="men-cart-pro">
                    <div class="inner-men-cart-pro">
                        <a href="~/Home/Product">Quick View</a>
                    </div>
                </div>
            </div>
            <!-- card body -->
            <div class="card-body  py-3 px-2">
                <h5 class="card-title text-capitalize">#####</h5>
                <div class="card-text d-flex justify-content-between">
                    <p class="text-dark font-weight-bold">$####</p>
                    <p class="line-through">$####</p>
                </div>
            </div>
            <!-- card footer -->
            <div class="card-footer d-flex justify-content-end">

                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                <a href="#" data-toggle="modal" data-target="#myModal1"></a>
            </div>
        </div>
    </div>
    <!-- //card group -->
</div>